{% extends "base.html" %}
{% block title %}Login page{% endblock title %}

{% block includes %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock includes %}


{% block content %}
<div id="login-container">
    <div>
        <form action="/auth/login" method="post">
            <div id="login-header">
                <h2>PyServerr</h2>
                <span>Login</span>
            </div>
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</div>
{%endblock%}